# Dependencies
node_modules/

# Build output
.dist/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Temporary
.tmp/
*.tmp

# OS
Desktop.ini

# Cache
.cache/
.vite/
